* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
}
img{
  max-width: 100%;
}
body {
  background: linear-gradient(180deg, rgb(0, 0, 43), rgb(0, 0, 90)) center no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-geral {
  display:  flex ;
  flex-direction: column;
  justify-items: center;
  width: 500px;
}
.botoesContent {
  display: flex;
  justify-content: center;
}

.botao{
  font-size: 2rem;
  background: #004FFF;
  color: rgb(241, 241, 241);
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.content-dados {
  margin: 10px;
  text-align: center;
  position: relative;
}
.content-dados h2{
  font-size: 2rem;
}
.fotos::before {
  content: "";
  background-color: #004FFF;
  width: 300px;
  height: 450px;
  border-radius: 5px;
  z-index: -1;
  transform: rotateZ(10deg);
  position:absolute;
  top: 25%;
  left: 50%;
}

.valor {
  display: flex;
  justify-content: center;
}
.preco {
  font-size: 1.5rem;
  margin: 0 5px;
}
h2,
p {
  padding: 5px;
}
.foto {
  padding: 10px;
  border-radius: 15px;
  width: 220px;
  text-align: center;
}
